.toast {
  visibility: hidden;
  max-width: 50%;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1001;
  left: 0; right: 0;
  bottom: 30px;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}
